.title {
    text-align: center;
    font-size: 3rem;
    margin-top: 5rem;
}
.container {
    /* width: 100%; */
    width: 100rem;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 4rem;
        margin-top: 5rem;
    }
}